<div class="main">
    <div class="container">
        <div class="left">
            <img src="../../../assets/codingninjaimg.svg" alt="">
          <p>Copyright © Sunrise Mentors Pvt. Ltd.</p>
        </div>
        <div class="middle">
            <div class="codingninja">
                <h5>CODING NINJAS</h5>
                <p>About Us</p>
                <p>Privacy Policy</p>
                <p>Terms & Conditions</p>
                <p>Pricing &  Refund Policy</p>
                <p>Bug Bounty</p>
                <p>Our Students</p>
                <p>Press Release</p>
            </div>
            <div class="product">

                <h5>PRODUCTS</h5>
                <p>Courses</p>
                <p>Try Courses For Free</p>
                <p>Career Camp</p>
                <p>Mock Interviews</p>
                <p>Hire Talent</p>
            </div>

            <div class="community">
                   <h5>COMMUNITY</h5>
                   <p>CodeStudio</p>
                   <p>Blog</p>
                   <p>Events</p>
                   <p>Campus Ninja</p>
                   <p>Affiliate</p>
                   <p>Scholarship Events</p>
            </div>
        </div>
        <div class="right">
          <div class="follow">
            <h6>FOLLOW US ON</h6>
              <div class="icons">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
                  <a href="#" class="telegram"><i class="bi bi-telegram"></i></a>
                </div>
          </div>
          <div class="contact">
            <h6>CONTACT US</h6>
            <span>
              <i class="fa-solid fa-phone-volume"></i>
              <p>1800-123-3598</p>
            </span>
              <span>    
                    <i class="fa-solid fa-envelope"></i>
                    <p>contact@codingninjas.com</p>  
              </span>
          </div>

        </div>

    </div>

</div>
