<div class="main">
  <div class="container">
    <div class="topp">
      <h4>Important Links</h4>
      <p>
        <b> CODING COURSES FOR BEGINNERS: </b>
        C++ Foundation with Data Structures | C++ Foundation with Data
        Structures & Advanced Algorithms LIVE | JAVA Foundation with Data
        Structures | Interview Preparation for Product Companies | Interview
        Preparation for Service Companies | Competitive Programming Course |
        Python Foundation with Data Structures | Aptitude Preparation Course
      </p>
      <p>
        <b>ADVANCED CODING COURSE:</b>
        Advanced Front-End Web Development with React | Machine Learning and
        Deep Learning Course | Full Stack Web Development Course | Data Science
        & Machine Learning Complete | Operating Systems | System Design
        |Database Management System
      </p>
      <p>
        <b>FREE TRIAL:</b>
        C++ Foundation with Data Structures | Java Foundation with Data
        Structures | Competitive Course | Aptitude Preparation Course | Python
        Foundation with Data Structures | Full Stack Web Development with NodeJS
        | Advanced Front-End Web Development with React | Data Science & Machine
        Learning Complete | Interview Preparation for Product Companies |
        Machine Learning Course
      </p>

      <p>
        <b>FREE CONTENTS:</b>
        C++ Foundation with Data Structures | Java Foundation with Data
        Structures | Competitive Programming Course | Aptitude Preparation
        Course | Python Foundation with Data Structures | Full Stack Web
        Development with NodeJS | Advanced Front-End Web Development with React
        | Data Science & Machine Learning Complete | Interview Preparation for
        Product Companies
      </p>
    </div>
    <div class="botp">
      <div class="visa">
        <p>
          <b>We accept payment using:</b>
          <img
            src="../../../assets/visa-credit-card.svg"
            alt=""
            style="height: 60px; width: 80px"
          />
          <img
            src="../../../assets/paypal.svg"
            alt=""
            style="height: 60px; width: 80px; padding: 0 10px"
          />
          <img
            src="../../../assets/upi.svg"
            alt=""
            style="height: 60px; width: 80px"
          />
        </p>
      </div>
      <div class="razorpay">
        <div  style="padding-right: 20px;">
          <p style="border: 2px solid rgb(48, 145, 249); background-color: rgb(106, 106, 243);">
            <i class="fa-solid fa-lock"></i>
            100% safe & secure payment
          </p>
        </div>
        <div>
          <img
            src="../../../assets/razorpay.svg"
            alt=""
            style="height: 30px; width: 100px"
        
          />
        </div>
      </div>
    </div>
  </div>
</div>
